{% load static %}
{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" alt="logo" width="30" height="30">
        </a>
    </div>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ms-auto">
                {% if user.is_authenticated %}
                    <a class="me-2 btn btn-outline-secondary text-nowrap text-centre" href="/my-products">my products</a>
                    <a class="me-2 btn btn-outline-secondary text-nowrap text-centre" href="/create-product">new product</a>
                    <a class="navbar-brand" style="color: white">Welcome, You are logged in as {{ user.username }}</a>
                    <form action="/logout">
                        <button type="submit" class="btn btn-outline-secondary">Logout</button>
                    </form>
                {% else %}

                    <a class="d-flex me-2" style="max-height: 35px; max-width: 35px; margin: 2px"
                       href="{% provider_login_url 'google' %}"><img
                            src="{% static 'images/Google.png' %}" class="img-fluid img-thumbnail" style="height: 100%"
                            alt="logo"></a>
                    <form class="d-flex" method="POST" action="/login">
                        {% csrf_token %}
                        <input class="form-control me-2" type="text" id="username" name="username"
                               placeholder="Username"
                               aria-label="Username">
                        <input class="form-control me-2" type="password" id="password" name="password"
                               placeholder="Password"
                               aria-label="Password">
                        <button class="btn btn-outline-primary text-nowrap me-2" type="submit">Sign In</button>
                    </form>
                    <a class="btn btn-outline-secondary text-nowrap" href="/registration">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
