{% extends "header.html" %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="container d-flex justify-content-center mt-5">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="Avatar"
                         style="border-radius: 50%" width="20%" height="auto">
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <h6>{{ product.name }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">category</h6>
                                </div>
                                <div class="col-sm-9">
                                    Test category
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">description</h6>
                                </div>
                                <div class="col-sm-9">{{ product.description }}</div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">Seller</h6>
                                </div>
                                <a class="col-sm-9" href="/profile/{{ product.user.username }}">{{ product.user.first_name }} {{ product.user.last_name }}</a>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-secondary">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9">
                                    <a href="tel:+999999999">+999999999</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-secondary">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9">
                                    <a href="mailto: {{ product.user.email }}">{{ product.user.email }}</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-secondary">
                                    <h6 class="mb-0">Price</h6>
                                </div>
                                <div class="col-sm-9">
                                   <div class="col-sm-9">{{ product.price }}$</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}