{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="container d-flex justify-content-center mt-5">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="Avatar"
                         style="border-radius: 50%" width="20%" height="auto">
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <h6>Product Name</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">category</h6>
                                </div>
                                <div class="col-sm-9">
                                    Test category
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">description</h6>
                                </div>
                                <div class="col-sm-9">
                                    Hello my friend. This is example text, for testing my page. I am glad to see you on
                                    my website.
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">Seller</h6>
                                </div>
                                <div class="col-sm-9">
                                    Surname Name
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-secondary">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9">
                                    <a href="tel:+999999999">+999999999</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-secondary">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9">
                                    <a href="mailto: example@example.com">example@example.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}