{% extends "header.html" %}

{% block content %}
    <h1 style="text-align: center">Registration</h1>
    <div class="container-sm d-flex align-items-center justify-content-center">
        <form method="POST" action="/registration" style="width: 50%">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="label">Username:</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="email" class="label">Email:</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="password" class="label">Password:</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
{% endblock %}