{% extends "header.html" %}

{% block content %}

    <div class="">
        <h1>Register</h1>
        <form method="POST" action="/registration">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button class="" type="submit">Register</button>
        </form>
        <p class="">If you already have an account, <a href="/login">login</a> instead.</p>
    </div>

{% endblock %}